/* Стили для фильтра */

.filters {
  background-image:  url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #9EDAFE;
  color: white;
  padding: 31px 72px;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.wrapper-accommodations legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  padding-bottom: 27px;
  text-align: left;
}

.filter ul {
  list-style: none;
  line-height: 21px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.filter-option {
  margin-bottom: 23px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.wrapper-accommodations {
  display: flex;
  justify-content: space-between;

}

fieldset.filter-accommodations {
  margin-right: 118px;
}

.filter-option {
  padding-left: 40px;
}

input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: -42px;
  top: 0;
  width: 21px;
  height: 21px;
}

.filter-input-checkbox:checked + label::after {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: 0;
  left: -42px;
  width: 21px;
  height: 21px;
}

/* Стили для фильтра по стоимости */

.filter-range {
  width: 316px;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 29px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 45px;
}

.price-controls input {
  width: 50px;
  margin: 0;


  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(200, 200, 200, 0.3);
  cursor: pointer;
}

.range-toggle:hover {
  border: 9px solid #ffffff;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

/* Стили для блока с сортировкой */

.search-result--header {
  display: flex;
  align-items: center;
  min-height: 86px;
  padding-left: 72px;
  padding-right: 72px;
}

.search-result--heading {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  margin-right: 49px;
}

.search-result--sort {
  display: flex;
  align-items: center;
}

.search-result--sort p {
  font-size: 12px;
  line-height: 26px;
  margin: 0;
  margin-right: 40px;
}

.search-result--sort ul {
  margin: 0;
}

.search-result--sort-type {
  display: flex;
  list-style: none;
  padding: 0;
}

.search-result--sort-type li {
  margin-right: 33px;
}

.sort-type-btn {
  padding: 0;
  border: 0;
  font-size: 12px;
  text-transform: inherit;
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
  background-color: inherit;
}

.sort-type-btn.current {
  color: #81b3d2;
  border-bottom: none;
}

.sort-type-btn:hover {
  color: #81b3d2;
}

.sort-type-btn:active {
  color: black;
}

.search-result--buttons {
  margin-left: auto;
}

.btn-direction {
  padding: 0;
  border: 0;
  background-color: white;
  margin-left: 8px;
}

.btn-direction:hover path {
  fill: black;
}

.btn-direction:active path {
  fill: #81b3d2;
}

.btn-direction.current path {
  fill: #81b3d2;
}
/* Стили для блока с отелями */

.hotels {
  text-align: left;
  margin: 0;
  padding: 0;
}

.hotels-item {
  /*box-sizing: border-box;*/
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 73px;
  align-items: center;
}

.hotels-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.hotel-img {
  margin: 0;
  order: -1;
  margin-right: 30px;
  height: 90px;
}

.hotel {
  margin-right: 50px;
}

.hotel-name {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  margin-bottom: 10px
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.wrapper--hotel-text {
  display: flex;
  margin: 0;
  margin-bottom: 14px;
  font-size: 14px;
}

.hotel-text {
  margin: 0;
}

.hotel-text:first-child {
  width: 116px;
}

/* Стили для кнопок Подробнее и Забронировать */

.wrapper--hotel-item-buttons {
  display: flex;
  justify-content: space-between;
}

.hotel-details {
  width: 110px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  background-color: #81b3d2;
  display: block;
  margin-right: 6px;
}

.hotel-details:hover {
  background-color: #669ec0;
}

.hotel-details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-booking {
  width: 142px;
  height: 27px;
  border: 2px solid #766357;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: #766357;
  text-transform: uppercase;
  color: #ffffff;
}

.button-booking:hover {
  background-color: #604e43;
  border: 2px solid #604e43;
}

.button-booking:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  border: 2px solid #503e33;
}

/* Стили для блока с классом отеля */

.hotel-class {
  margin-left: auto;
  text-align: right;
}

.hotel-stars {
  display: flex;
  justify-content: flex-end;
  width: 110px;
  margin-top: 0;
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 47px;
}

.star {
  display: block;
  width: 18px;
  height: 17px;
  background-image: url("../img/star.svg");
  margin-left: 6px;
}

.rating {
  color: #666666;
  background-color: #f2f2f2;
  width: 110px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
