html {
  background-color: #f2f2f2;
}

body {
  position: relative;
  padding: 0;
  margin: auto;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;

}

header, main, footer {
  width: 1200px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

/* Стили для шапки */

/* Навигация по сайту */
.main-navigation li {
  line-height: 26px;
  list-style: none;
  font-weight: bold;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-navigation ul {
  display: flex;
  justify-content: space-between;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

.main-navigation img {
  position: absolute;
  margin-left: -70px;

}

.current-page {
  color: #766357;
}

/* Стили для main */

.welcome {
  display: flex;
  height: 528px;
  background-color: #9EDAFE;
  background-image:
    url("../img/intro-mask.svg"),
    url("../img/sedona-background.jpg");

  background-position:
    50% 100.5%,
    50% 25%;
  background-repeat: no-repeat, no-repeat;
  }

.welcome img {
  margin: auto;
}

.sedona-promotext {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top: 55px;
  width: 440px;
  margin-left: 380px;

}

.advantages-intro {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 55px;
}

.advantages {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  /*min-width: 400px;*/
  /*margin: auto;*/
}

.advantages h2 {
  font-size: 21px;
  line-height: 21px;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  color: #ffffff;
  background-color: #81B3D2;
}

.advantages-item-wrapper {
  display: flex;
  width: 1200px;
}

.advantages-item--reversed {
  flex-direction: row-reverse;
}

.container-text--image {
  display: flex;
  flex-direction: column;
  padding: 46px 49px 64px 49px;
}

.benefits {
  display: flex;
  list-style: none;
  background-color: #ffffff;
  padding: 0;
}

.benefits-item {
  color: #333333;
  padding: 70px;
}

.benefits h2 {
  color: #000000;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5) {
  background-color: #eeeeee;
  width: 260px;
  height: 143px;
  padding-top: 50px;
  padding-bottom: 63px;
  padding-left: 70px;
  padding-right: 70px;
}

/*.container-text {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/


/* Стили для формы поиска */

/* Стили для карты */

.map {
  /*position: relative;*/
  /*top: -395px;*/
}

/* Стили для хештега и товарного знака */
.main-footer {
  position: absolute;
  bottom: 0;
  opacity: 0.9;
  left: calc(50% - 600px)
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-left: 132px;
}

.copyright {
  /*line-height: 26px;*/
  display: flex;
  align-items: center;
  margin-right: 101px;
}

.copyright span{
  margin-right: 8px;
  margin-bottom: 7px;
}

.html-logo:hover {
  fill: #81b3d2;
}

.html-logo:active {
  fill: #bdbbbc;
}
/* Стили для кнопок социальных сетей */

.social-buttons li {
  list-style: none;
  margin: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  opacity: 0.3;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
}

.footer-social ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 156px;
  margin: 0 auto;
  padding: 0;
}

/* Стили для отелей */
